$breadcrumb-divider: quote("-");
$breadcrumb-font-size: 11px;
$enable-caret: false;

@import '~bootstrap/scss/bootstrap';


$default-text-color: #181a1d;
$light-red-color: #ff9f88;
$light-green-color: #defe9c;
$light-gray-color: #f6f6f6;
$light-blue-color: #9cf0ff;
$light-yellow-color: #eefeac;
$hr-gray1-color: #5b6074;
$hr-gray2-color: #576278;
$dark-gray-color: #e7e7e7;
$darker-gray-color: #dcdcdc;
$dark-green-color: #1c3838;
$table-header-gray: #5c5d5fff;

.breadcrumb {
  font-weight: 300;

  a {
    color: $default-text-color;
    text-decoration: none;
  }
}


$custom-theme-colors: (
        "custom-dark": black,
        "dark-gray": $dark-gray-color,
        "dark-green": $dark-green-color,
);

$custom-grid-colors: (
        "light-red": $light-red-color,
        "light-green": $light-green-color,
        "light-blue": $light-blue-color,
        "light-yellow": $light-yellow-color,
);

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

@each $color, $value in $custom-theme-colors {
  .btn-#{$color} {
    --bs-btn-font-weight: 600;
    @include button-variant($value, $value,
    $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
    $hover-border: tint-color($value, $btn-hover-border-tint-amount),
    $active-background: tint-color($value, $btn-active-bg-tint-amount),
    $active-border: tint-color($value, $btn-active-border-tint-amount)
    );
  }
}

@each $color, $value in $custom-grid-colors {
  .btn-#{$color} {
    color: shade-color($value, 88%);
    padding: 0 0.25em 0 0.25em;
    --bs-btn-font-size: 11px;
    --bs-btn-font-weight: 400;
    @include button-variant($value, $value,
    $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
    $hover-border: tint-color($value, $btn-hover-border-tint-amount),
    $active-background: tint-color($value, $btn-active-bg-tint-amount),
    $active-border: tint-color($value, $btn-active-border-tint-amount)
    );
  }
}

@each $color, $value in $custom-theme-colors {
  .btn-outline-#{$color} {
    --bs-btn-font-weight: 600;
    @include button-outline-variant($value);
  }
}

.btn-dark-gray {
  padding: 1px;
  --bs-btn-border-color: #9fa0a0;
}

.btn-dark-gray-compound {
  @extend .btn-dark-gray;

  .btn-dark-gray {
    --bs-btn-border-color: $dark-gray-color;
  }

  --bs-btn-border-radius: 10px;
}

@include media-breakpoint-between(md, xxl) {
  .page {
    .page-sidebar {

    }
  }
}


body {
  color: $default-text-color;
  @font-face {
    font-family: 'Sora';
  }

  .page {

    height: 1250px;

    .row > * {
      padding: 0 0;
    }

    hr {
      border: none;
      height: 2px;
      margin: 2px 0 2px 0;
    }

    .icon {
      width: 24px;
      height: 24px;

      &.filter {
        width: 16px;
        height: 16px;
      }

      &.grid-sort {
        margin-left: 0.25em;
        width: 8px;
        height: 8px;
      }

      &.grid-ellipse {
        margin: 0 0.25em 0 0.25em;
        width: 10px;
        height: 10px;
      }

      &.grid-ellipsis {
        width: 16px;
        height: 4px;
      }

    }

    .page-sidebar {

      font-size: 14px;
      font-weight: 400;
      padding-top: 3em;
      //width: 336px;
      background-color: $dark-gray-color;

      .sidebar-menu {
        height: 800px;

        border: none;
        border-radius: 0;
        background-color: inherit;
        max-height: 800px;
      }

      .sidebar-util {
        height: 443px;
        border-color: $hr-gray2-color;
        border-width: 2px 0 0 0;
        border-radius: 0;
        background-color: inherit;
        max-height: 430px;

        .placeholder-util {
          margin: 1em 0 1em 0;
          max-width: 272px;
          min-width: 120px;
          height: 210px;
        }

        .user-util {
          background-color: $dark-gray-color;
        }
      }

      .logo {
        width: 143px;
        height: 50px;
      }

      .sidebar-search {
        margin: 0.75em 2em 0 2em;
        border-radius: 5em;
      }

      .sidebar-nav-menu {
        margin: 0 2em 0 2em;
      }

      .nav-item {
        margin: 0.75em 0 0 0;
      }

      .nav-link {
        color: #181a1d;
        @include transition(color, 0.3s);

        .icon {
          margin-right: 0.5rem;
        }
      }

      hr {
        background-color: $hr-gray1-color;
      }

    }

    .page-content {
      padding: 3em;
      background-color: $light-gray-color;

      .card .card-header {
        background-color: inherit;
        border: none;
        padding-bottom: 0;

        .content-grid-filter {
          padding: 0 0 1em 0;
          border-bottom: medium solid $dark-gray-color;
        }
      }

      .admin-breadcrumb {

        background-color: transparent;
        margin-bottom: 1rem;

      }

      table.content-grid {

        thead {

          th:first-child {
            border-top-left-radius: 10px;
          }

          th:last-child {
            border-top-right-radius: 10px;
          }

          th {
            font-size: 14px;
            font-weight: 600;
            color: $white;
            padding: 0.5em 1em;
            background-color: $table-header-gray;
            border-bottom: none;
          }

        }

        tbody tr {
          font-size: 12px;
          font-weight: 300;
          @include transition(background-color, 0.3s);

          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }
}
